
<div class="modal" style="position:relative; top:0; margin-top:0;">
    <form action="/config" method="post" style="margin:0">
        <div class="modal-header">
            <h3>PhotoBooth Configuration</h3>
        </div>

        <div class="modal-body">
            <fieldset>
                <legend>Camera</legend>
                
                <div class="clearfix">
                    <label for="waittime">Wait time</label>
                    <div class="input">
                        <input type="number" class="mini" name="waittime" id="waittime" value="<%= cfg.waittime ? cfg.waittime : 1 %>" required />
                        <span class="help-block">
                            Time between successive camera snaps (in seconds).
                        </span>
                    </div>
                </div>

                <div class="clearfix">
                    <label for="frames">Total frames</label>
                    <div class="input">
                        <input type="number" class="mini" name="frames" id="frames" value="<%= cfg.frames || 3 %>" readonly />
                    </div>
                </div>
            </fieldset>
            
            <fieldset>
                <legend>Redis</legend>
                
                <div class="clearfix">
                    <label for="redisHost">Host</label>
                    <div class="input">
                        <input type="text" name="redis[host]" id="redisHost" value="<%= cfg.redis && cfg.redis.host ? cfg.redis.host : 'localhost' %>" readonly />
                    </div>
                </div>
                
                <div class="clearfix">
                    <label for="redisPort">Port</label>
                    <div class="input">
                        <input type="number" name="redis[port]" id="redisPort" value="<%= cfg.redis && cfg.redis.port ? cfg.redis.port : '6379' %>" readonly />
                    </div>
                </div>
            </fieldset>
            
            <fieldset>
                <legend>Photo Strip</legend>
                
                <div class="clearfix">
                    <label for="dpi">DPI</label>
                    <div class="input">
                        <input type="number" name="dpi" id="dpi" value="<%= cfg.dpi || 300 %>" required />
                    </div>
                </div>
                
                <div class="clearfix">
                    <label>Paper size</label>
                    <div class="input">
                        <input type="number" name="paper[width]" class="mini" value="<%= cfg.paper && cfg.paper.width ? cfg.paper.width : 4 %>" required /> x
                        <input type="number" name="paper[height]" class="mini" value="<%= cfg.paper && cfg.paper.height ? cfg.paper.height : 6 %>" required />
                    </div>
                </div>
                
                <div class="clearfix">
                    <label>Printer Name</label>
                    <div class="input" id="printers">
                        <ul class="inputs-list">
                        <% printers.forEach(function(printer) { %>
                            <li>
                                <label>
                                    <input type="radio" name="printer" value="<%= printer.name %>" <%= (cfg.printer == printer.name) ? "checked" : "" %>/>
                                    <%= printer.name %>
                                </label>
                            </li>
                        <% }); %>
                        </ul>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn primary">Save</button>
        </div>
    </form>
</div>

<script>
$("form").submit(function (e) {
    e.preventDefault();
    
    var form = $(this),
        url  = form.attr("action");
    
    $.post(url, form.serialize(), function (data) {
        
    });
});
</script>
